[submodule "lib/gspread"]
	path = lib/gspread
	url = ./
[submodule "gspread"]
	path = gspread
	url = https://github.com/burnash/gspread
[submodule "oauth2client"]
	path = oauth2client
	url = https://github.com/google/oauth2client
